.burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    height: 13px;
    gap: 3px;
    position: relative;
}

.burger__line {
    display: block;
    position: absolute;
    border-radius: 10px;
    width: 26px;
    height: 2px;
    background: #fff;
    transition: transform 0.3s ease;
}

.burger__line:first-child {
    top: 0;
    transform: translateX(8px);
}

.burger--active .burger__line:first-child {
    transform: scale(1);
}

.burger__line:last-child {
    transform: scale(1);
    bottom: 0;
}

.burger--active .burger__line:last-child {
    transform: scale(0.8, 1);
}

.burger__line:nth-child(2) {
    top: 50%;
}