.footer {
    margin-bottom: 50px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.footer__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 23px;
    width: 100%;
    border-top: 1px solid #4d4d4f;
}

.footer__col {
    grid-column: 3 span;
}

.footer__col:not(:first-child) {
    padding-top: 5px;
}

.footer__col--big {
    grid-column: 6 span;
}

.footer-top__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    width: max-content;
}

.footer-top__main  .logo {
    width: 252px;
    height: 23px;
}

.footer-main__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer-contacts__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contacts__span {
    font-weight: 300;
    font-size: 14px;
    color: #a6a6b5;
}

.footer-contacts__link {
    font-weight: 600;
    font-size: 14px;
    color: #a6a6b5;
}

.item--mb-med {
    margin-bottom: 16px;
}

.footer-top__services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.footer .title--14 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #a6a6b5;
}

.footer-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    width: 100%;
}

.footer-services__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.footer-services__item {
    font-weight: 300;
    font-size: 14px;
    color: #a6a6b5;
    width: max-content;
}

.footer-top__company {
    display: flex;
    align-items: center;
    gap: 47px;
}

.footer-company__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.footer-company__lists {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-company__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.footer-company__item {
    font-weight: 300;
    font-size: 14px;
    color: #a6a6b5;
}

.footer-company__social {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social__item {
    padding: 2px;
    background-color: #2f2f35;
    border-radius: 50%;
    position: relative;
    width: 32px;
    height: 32px;
}

.social__item svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-bottom__div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.footer-bottom__par {
    font-weight: 300;
    font-size: 14px;
    color: #a6a6b5;
}

.footer__top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-main__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 14px;
}

.footer-main__item img,
.footer-main__item svg {
    display: block;
}